<div class="innerContainer">
    <h1>The AL Formatter</h1>
    <label>
        The AL Language extension offers users the option to automatically format their source code.<br />
        This capability increases the usability of the editor by allowing developers to instantly fix<br />
        the indentation and formatting of their code. The auto-formatter analyzes the syntax tree of<br />
        the AL code that you are formatting and, using rules developed based on the coding and style<br />
        guidelines for AL, inserts and removes whitespace from key points in the document to make it more readable.{{rootScopeValue}}<br />
    </label><br /><br /><br />
    <div>{{homeCtrl.message}}</div>
</div>