<div class="innerContainer">
    <h1>Student Details</h1>
    <table style="border: 1px solid black !important;width: 20%;background-color: #e2dfdf !important;line-height: 28px;text-indent: 4px;" border="1">
        <tr>
            <td style="border-color: #e2dfdf !important;">Id</td>
            <td style="border-color: #e2dfdf !important;">{{studentDetailsCtrl.empDetails.id}}</td>
        </tr>
        <tr>
            <td style="border-color: #e2dfdf !important;">Name</td>
            <td style="border-color: #e2dfdf !important;">{{studentDetailsCtrl.empDetails.name}}</td>
        </tr>
        <tr>
            <td style="border-color: #e2dfdf !important;">Gender</td>
            <td style="border-color: #e2dfdf !important;">{{studentDetailsCtrl.empDetails.gender}}</td>
        </tr>
        <tr>
            <td style="border-color: #e2dfdf !important;">Salary</td>
            <td style="border-color: #e2dfdf !important;">{{studentDetailsCtrl.empDetails.salary}}</td>
        </tr>
    </table>
    <br />
    <div style="width:100%;text-align:center"><a href="students">Back to Students List</a></div>
</div>
